/* ######################### Table des matieres ########################### */
/* ------------------------- CSS Reset ------------------------------------ */
/* ------------------------- Regles generales ----------------------------- */
/* ------------------------- Header --------------------------------------- */
/* ------------------------- Menu Accueil --------------------------------- */
/* ------------------------- Page Listes ---------------------------------- */
/* ------------------------- Boites de login / singup --------------------- */
/* ------------------------- Fonts supplementaires ------------------------ */
/* ######################################################################## */


/* ---------- Couleurs ----------- */
/* Background generale :   #F1F0EB */
/* Background bleu fonce : #4056A1 */
/* Background bleu pale :  #C5CBE3 */
/* Ecriture jaune fonce :  #D79922 */
/* Ecricuture jaune pale:  #EFE2BA */
/* Contraste rouge :       #F13C20 */

/* ------------------------- CSS Reset ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* ------------------------- Regles generales ----------------------------- */
html{
    height: 100%;
    font-family: sans-serif;
    background-color: #F1F0EB;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1128px;
}

.body-wrapper{
    margin-top: 100px;
    height: 100%;
}

/* ------------------------- Header --------------------------------------- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4056A1;
    opacity: 0.95;
    color: #D79922;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.66);
    font-family: "Montserrat";
    z-index: 1;
} 

.site-name{
    font-family: 'Caveat-Bold';
    font-size: 1.8em;
    flex: 2;
    padding-right: 40px;
}

.menu{
    flex: 5;
    font-size: 1.1em;
    padding-bottom: 5px;
}

nav ul{
    align-items: center;
    list-style-type: none;
    margin: 0 50px;
    padding: 0 20px;
    position: fixed; 
    overflow: auto;
}

nav li{
    display: inline-block;
}

nav li a{
    color: #EFE2BA;
    padding: 0 25px;
    text-decoration: none;
}

nav li a:hover{
    background-color: aliceblue;
}

nav li a:active{
    background-color: grey;
    color: aliceblue;
}

.username-section{
    text-align: right;
    flex: 1;
}

.logout-link{
    text-decoration: none;
    padding: 0 20px;
    flex: 1;
}

a:visited { 
    text-decoration: none;  
    color: #D79922;
}

.page-title{
    font-size: 2em;
    text-align: center;
    color: #4056A1;
}


/* ------------------------- Menu Accueil --------------------------------- */
.index-menu{
    margin: 30px 0;
}

.index-menu h2{
   margin: 0;
   font-size: 2.5em;
}

.index-menu h2 a{
    text-decoration: none;
 }

.index-menu nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.index-menu nav ul{
    margin: 0;
}

.index-menu nav ul li{
    padding: 10px 10px;
    display : inline;
    margin: 1em 0.5em;
}

.index-menu nav ul li a{
    display : inline;
    text-decoration: none;
    font-size: 1.5em;
}

.index-menu nav ul li:nth-of-type(2){
    border: 2px solid #F13C20;
    border-radius: 3px;
}

/* ------------------------- Page Listes ----------------------------------------*/
.btn-group-lists{
    position: absolute;
    top: 150px;
    left: 30px;
    padding: 5px 8px;
    border: 2px solid #C5CBE3;
    border-radius: 10px;
}

.btn-group-lists div{
    background-color: #C5CBE3;
    color: #4056A1;
    text-align: center;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #4056A1;
    border-radius: 50px;
    cursor: pointer;
}

.btn-group-lists div:hover{
    color: #C5CBE3;
    background-color: #4056A1;
}

.new-list{
    display: none;
    min-height: 350px;
    width: 400px;
    position: relative;
    margin: 20px auto;
    padding: 10px;
    padding-bottom: 75px;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.75);
}

.new-list p:first-child{
    display: none;
    text-align: left;
    font-size: 0.7em;
    cursor: pointer;
}

.new-list p:first-child:hover{
    text-decoration: underline;
}

.list{
    display: none;
    padding: 10px 50px;
    overflow-wrap: break-word;
}

.list li{
    padding: 5px;
    text-align: left;
}

.list-title{
    font-size: 1.5em;
    padding: 20px;
    text-decoration: underline;
}

#new-list-name{
    margin: 15px auto;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
}

#new-list-element-input{
    width: 99%;
    border: none;
    border-bottom: 1px solid #ccc;
}


.btn-submit-list{
    display: none;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    width: 80%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F13C20;
    color: #D79922;
    border-radius: 20px;
    cursor: pointer;
}

.btn-submit-list:hover{
    background-color: #F13C20;
    color: #EFE2BA;
}


/*----------------- Boites de login / signup ------------------------------------*/
#form {
    margin: 75px auto;
    border:1px solid #D79922;
    border-radius: 5px;
	padding: 3em;
    max-width: 600px;
    box-shadow: 1px 1px #888888;
    background-color: #EFE2BA;
}

#form h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.form-singleLine{
	margin-top: 6px;
    display:flex;
    justify-content: center;
    padding-right: 10px;
    margin: 0.8em 0; 
    height: 35px;
    line-height: 35px;
}

.form-label{
	flex: 3;
	text-align: right;
	margin-right: 10px;
    font-weight: bold;
    font-size: 1em;
}

.form-input{
    flex: 4;
}

.input{
    height: 25px;
    font-size: 0.9em;
    width: 80%;
}

#validation-info{
    margin-bottom: 0;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    color: #F13C20;
    font-weight: bolder;
}

.form-submit{
    margin: 15px 0;
    width: 100%;
    padding: 8px 8px;
    cursor: pointer;
    background-color: #C5CBE3;
    color: #EFE2BA;
    border: 0;
}

.form-submit:hover{
    background-color: #4056A1;
}


/* ------------------------- Fonts supplementaires ------------------------ */
@font-face{
    font-family: 'Caveat-Bold';
    src: url("../fonts/Caveat-Bold.ttf");
}

@font-face{
    font-family: 'Delius';
    src: url("../fonts/Delius-Regular.ttf");
}

@font-face{
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
}