html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "menu main";
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;
}

.container {
    grid-area: main;
}

/* Section menu pour toutes les pages */
.menu{
    grid-area: menu;
    position: sticky;
    padding: 1em 1em;
    background-color: aqua;
}

.imageUser {
    width: 150px;
    height: 150px;
    background-color: black;
    margin: 0 auto;
}

.username-section{
    text-align: center;
    margin-top: 2%;
    font-size: 1.2em;
}

.menu ul{
    list-style: none;
    font-size: 1.1em;
    line-height: 3em;
}


/* formulaire d'inscription */
#signup-form {
	border:1px solid #aaaaaa;
	padding:10px;
	padding-bottom:0px;
    min-height:200px;
    max-width: 500px;
}


.form-singleLine{
	margin-top: 6px;
    display:flex;
    justify-content: center;
    padding-right: 10px;
    margin: 0.8em 0; 
}

.form-label{
	flex: 5;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
}

.form-input{
	flex: 6;
}

.validation-info{
    flex: 4;
    font-size: 0.7em;
}