/* ######################### Table des matieres ########################### */
/* ------------------------- CSS Reset ------------------------------------ */
/* ------------------------- Regles generales ----------------------------- */
/* ------------------------- Header --------------------------------------- */
/* ------------------------- Menu Accueil --------------------------------- */
/* ------------------------- Page Budget ---------------------------------- */
/* ------------------------- Page Listes ---------------------------------- */
/* ------------------------- Boites de login / singup --------------------- */
/* ------------------------- Fonts supplementaires ------------------------ */
/* ------------------------- CSS importé ---------------------------------- */
/* ######################################################################## */


/* ---------- Couleurs ----------- */
/* Background generale :   #F1F0EB */
/* Background bleu fonce : #4056A1 */
/* Background bleu pale :  #C5CBE3 */
/* Ecriture jaune fonce :  #D79922 */
/* Ecricuture jaune pale:  #EFE2BA */
/* Contraste rouge :       #F13C20 */

/* ------------------------- CSS Reset ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* ------------------------- Regles generales ----------------------------- */
html{
    height: 100%;
    font-family: sans-serif;
    background-color: #F1F0EB;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1128px;
}

.body-wrapper{
    margin-top: 100px;
    height: 100%;
}

.section-flex{
    display: flex;
}

.color-1{
    background-color: #EFE2BA;
    color: #D79922;
}

.color-2{
    background-color: #C5CBE3;
    color: #4056A1;
}

.btn-group{
    display: flex;
}

.single-btn{
    flex: 1;
}

.btn{
    padding: 0.2em 1em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
}

.btn-modify{
    background-color: #7db700;
    color: #EFE2BA;
    border: 1px solid #7db700;
}

.btn-delete{
    background-color: #F13C20;
    color: #EFE2BA;
    border: 1px solid #EFE2BA;
}

/* ------------------------- Header --------------------------------------- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4056A1;
    opacity: 0.95;
    color: #D79922;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.66);
    font-family: "Montserrat";
    z-index: 1;
} 

.site-name{
    font-family: 'Caveat-Bold';
    font-size: 1.8em;
    flex: 2;
    padding-right: 40px;
}

.menu{
    flex: 5;
    font-size: 1.1em;
    padding-bottom: 5px;
}

#menu-header{
    align-items: center;
    list-style-type: none;
    margin: 0 50px;
    padding: 0 20px;
    position: fixed; 
    overflow: auto;
}

.btn-header{
    display: inline-block;
}

.btn-header a{
    color: #EFE2BA;
    padding: 0 25px;
    text-decoration: none;
}

.btn-header a:hover{
    background-color: aliceblue;
    color: #D79922;
}

.btn-header a:active{
    background-color: grey;
    color: aliceblue;
}

.username-section{
    text-align: right;
    flex: 1;
}

.logout-link{
    text-decoration: none;
    padding: 0 20px;
    flex: 1;
}

a:visited { 
    text-decoration: none;  
    color: #D79922;
}

.page-title{
    font-size: 2.5em;
    text-align: center;
    color: #4056A1;
}

#btn-settings{
    text-decoration: none;
    cursor: pointer;
}

#btn-settings:hover{
    text-decoration: none;
}

/* ------------------------- Menu Accueil --------------------------------- */
#presentation-title{
    color: #4056A1;
    font-size: 2em;
}

.index-menu{
    margin: 30px 0;
}

.index-menu h2{
   margin: 0;
   font-size: 2.5em;
}

.index-menu h2 a{
    text-decoration: none;
 }

.index-menu nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.index-menu nav ul{
    margin: 0;
}

.index-menu nav ul li{
    padding: 10px 10px;
    display : inline;
    margin: 1em 0.5em;
}

.index-menu nav ul li a{
    display : inline;
    text-decoration: none;
    font-size: 1.5em;
}

.index-menu nav ul li:nth-of-type(2){
    border: 2px solid #F13C20;
    border-radius: 3px;
}

.index-menu-accueil h2{
    flex: 3;
    font-size: 2.5em;
    padding: 5vh 5vw;
}

.index-menu-accueil nav{
    margin-right: 10vw;
    text-align: center;
    padding: 5vh 5vw;
    flex: 1;
}

#home-header{
    list-style: none;
}

.home-btn{
    padding: 3vh 0;
    font-size: 1.5em;
}

.home-btn:nth-of-type(2):hover{
    background-color: #EFE2BA;
}

.home-btn:nth-of-type(2){
    border: 2px solid #D79922;
    border-radius: 1em;
}

#btn-login, #btn-signup{
    text-decoration: none;
}

#btn-login:hover{
    background-color: #F1F0EB;
}

#btn-signup:hover{
    background-color: #EFE2BA;
}

/* ------------------------- Page Budget ---------------------------------- */
.expenses-list{
    margin: 10vh 0;
}

#expenses-complete-array{
    border: 1px solid black;
    border-radius: 0.3em;
}

.column-description{
    border-right: 1px solid black;
    text-align: center;
}

#column-description-last{
    border-right: none;
}

.list-expenses{
    max-height: 40vh;
    overflow: auto;
}

.sub-title{
    margin: 5vh 3vw;
    font-size: 1.7em; 
    color: #D79922;
}


.expenses-single-line{
    display: grid;
    grid-template-columns: 25% 15% 20% 10% 15% 15%;
    padding: 1vh 0;
}

.expenses-description{
    flex: 4;
}

.expenses-price, .expense-date{
    flex: 1;
}


.expenses-place, .expenses-owner{
    flex: 2;
    text-align: right;
}

.expenses-place{
    text-align: center;
}


.section-form-new-expense{
    margin-top: 1
}

.expenses-summary{
    padding: 10vh 2vw;
    margin-top: 10vh;
}

.expense{
    padding: 0.5vh 2vw;
    cursor: pointer;
}

.money{
    text-align: right;
}

.expenses-summary{
    flex: 1;
    margin-left: 10vw;
    padding: 0;
}


#first-column{
    border-right: 2px solid black;
}

.summary-column{
    display: flex;
    flex-direction: column;
}

.summary-column div{
    padding: 2vh 2vw;
}

.summary-column div:first-of-type{
    border-bottom: 2px solid black;
}

#form-new-expense{
    flex: 1;
    padding: 1em;
}

.form-single-line{
    margin: 2vh 0;
}

.form-single-line div{
    font-size: 1.3em;
}

.form-new-expense div{
    padding: 0 2vw;
}

.form-new-expense input{
    width: 80%;
    padding: 0.5vh 0;
}

.form-new-expense button{
    display: block;
    width: 81%;
    height: 5vh;
    background-color: #4056A1;
    color: #C5CBE3;
    border: none;
}

#btn-group-expenses{
    justify-content: flex-end;
}

/* ------------------------- Page Listes -----------------------------------*/
.btn-group-lists{
    position: absolute;
    top: 150px;
    left: 30px;
    padding: 5px 8px;
    border: 2px solid #C5CBE3;
    border-radius: 10px;
}

.btn-group-lists div{
    background-color: #C5CBE3;
    color: #4056A1;
    text-align: center;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #4056A1;
    border-radius: 50px;
    cursor: pointer;
}

.btn-group-lists div:hover{
    color: #C5CBE3;
    background-color: #4056A1;
}

.new-list{
    display: none;
    height: auto;
    width: 400px;
    position: relative;
    margin: 20px auto;
    padding: 10px;
    padding-bottom: 75px;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.75);
}

.new-list p:first-child{
    display: none;
    text-align: left;
    font-size: 0.7em;
    cursor: pointer;
}

.new-list p:first-child:hover{
    text-decoration: underline;
}

.list-ul{
    display: none;
    padding: 10px 50px;
    overflow-wrap: break-word;
    text-align: left;
}

.list li{
    padding: 5px;
    text-align: left;
}

.list-title{
    font-size: 1.5em;
    padding: 20px;
    text-decoration: underline;
}

#new-list-name{
    margin: 15px auto;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
}

#new-list-element-input{
    width: 99%;
    border: none;
    border-bottom: 1px solid #ccc;
}


.btn-submit-list{
    display: none;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    width: 80%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F13C20;
    color: #D79922;
    border-radius: 20px;
    cursor: pointer;
}

.btn-submit-list:hover{
    background-color: #F13C20;
    color: #EFE2BA;
}

.all-lists{
    margin-top: 7vh;
    margin-left: 12vw;
}

.lists-title{
    display: block;
    flex: 1;
    border-left: 1px solid #EFE2BA;
}

.lists-title ul{
    list-style: none;
}

.single-list-title{
    padding: 2vh 0;
    cursor: pointer;
    list-style: none;
}

.all-lists-title{
    flex: 1;
    padding-left: 1vw;
    margin-top: 10vh;
}

.all-lists-title li{
    overflow-wrap: break-word;
    padding-left: 2vw; 
    border-left: 2px solid #D79922; 
    cursor: pointer;   
}

#list-viewer{
    background-color: white;
    flex: 3;
    margin: 2vh 5vw 10vh 5vw;
    padding: 5vh 0;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.75);
}

.viewer-list-title{
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
}

.viewer-list-element{
    list-style-position: inside;
    padding: 5vh 10vw; 
}

.viewer-list-element li{
    margin-bottom: 2vh;
}

.btn-not-selected{
    background-color: #C5CBE3;
    color: #4056A1;
}

.btn-selected{
    background-color: #4056A1;
    color: #C5CBE3;
}

/*----------------- Boites de login / signup -------------------------------*/
.form {
    margin: 0 auto 10vh auto;
    border: 1px solid #D79922;
    border-radius: 1.5em;
	padding: 3em;
    max-width: 600px;
    box-shadow: 1px 1px #888888;
    background-color: #F1F0EB;
}

.form h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 2em;
}

.form-singleLine{
	margin-top: 6px;
    display:flex;
    justify-content: center;
    padding-right: 10px;
    margin: 0.8em 0; 
    height: 35px;
    line-height: 35px;
}

.form-label{
	flex: 2;
	text-align: right;
	margin-right: 10px;
    font-weight: bold;
    font-size: 1em;
}

.form-input{
    flex: 3;
}

.input{
    height: 25px;
    font-size: 0.9em;
    width: 80%;
}

#validation-info{
    margin-bottom: 0;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    color: #F13C20;
    font-weight: bolder;
}

.form-submit{
    margin: 15px 0;
    width: 100%;
    height: 100%;
    padding: 8px 8px;
    cursor: pointer;
    background-color: #4056A1;
    color: #EFE2BA;
    border: 0;
    transition: background-color 0.5s ease;
}

.form-submit:hover{
    background-color: #F13C20;
}


/* ------------------------- Fonts supplementaires ------------------------ */
@font-face{
    font-family: 'Caveat-Bold';
    src: url("../fonts/Caveat-Bold.ttf");
}

@font-face{
    font-family: 'Delius';
    src: url("../fonts/Delius-Regular.ttf");
}

@font-face{
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
}

/* ------------------------- CSS importé ---------------------------------- */
/* Pour un scrollbar different */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }